In [41]:
#csv_path ="/Users/fuxiyao/Desktop/康奈尔Cornell/2024 Spring/messy Data/5741 project/russell3000_modified.csv" 
#stock_info = pd.read_csv(csv_path) #file: russell3000_universe.csv

In [3]:
import pandas as pd
import yfinance as yf
import numpy as np



#we do not need this function
#here is a function to get info of a single stock for a time period
#daily adj close and volume as column. Also ticker, sector and FIGI as unique identifier
def get_individual_data(ticker, start_date, end_date):
    
    stock_data = yf.download(ticker, start=start_date, end=end_date)
    
    # Keep only 'Adj Close' and 'Volume', and ensure the 'Date' is a column
    stock_data.reset_index(inplace=True)
    stock_data = stock_data[['Date', 'Adj Close', 'Volume']]
    
    global stock_info
    
    additional_info = stock_info[stock_info['Ticker'] == ticker]
    
    if not additional_info.empty:
        additional_info = additional_info.iloc[0]
        stock_data.loc[:, 'FIGI'] = additional_info['FIGI']
        stock_data.loc[:, 'Sector'] = additional_info['Sector']
    else:
        stock_data.loc[:, 'FIGI'] = 'N/A'
        stock_data.loc[:, 'Sector'] = 'N/A'
    
    return stock_data

# Define the CSV data once, outside the function
csv_path ="/Users/fuxiyao/Desktop/康奈尔Cornell/2024 Spring/messy Data/5741 project/russell3000_modified.csv" 
stock_info = pd.read_csv(csv_path) #file: russell3000_universe.csv

# Example usage:
df = get_individual_data('JPM', '2020-01-01', '2022-12-31')
df

[*********************100%%**********************]  1 of 1 completed
/Users/fuxiyao/opt/anaconda3/lib/python3.9/site-packages/pandas/core/indexing.py:1667: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[key] = value

          Date   Adj Close    Volume          FIGI      Sector
0   2020-01-02  123.533569  10803700  BBG000DMBZW1  Financials
1   2020-01-03  121.903419  10386800  BBG000DMBZW1  Financials
2   2020-01-06  121.806480  10259000  BBG000DMBZW1  Financials
3   2020-01-07  119.735680  10531300  BBG000DMBZW1  Financials
4   2020-01-08  120.669754   9695300  BBG000DMBZW1  Financials
..         ...         ...       ...           ...         ...
751 2022-12-23  125.963997   5091900  BBG000DMBZW1  Financials
752 2022-12-27  126.405373   5411000  BBG000DMBZW1  Financials
753 2022-12-28  127.096207   8827700  BBG000DMBZW1  Financials
754 2022-12-29  127.825447   6585200  BBG000DMBZW1  Financials
755 2022-12-30  128.669800   9292500  BBG000DMBZW1  Financials

[756 rows x 5 columns]

In [1]:
import pandas as pd

# Read the CSV file
df = pd.read_csv('/Users/fuxiyao/Desktop/康奈尔Cornell/2024 Spring/messy Data/5741 project/russell3000_price.csv')

# Pivot the DataFrame to have PERMNOs as rows and dates as columns
#rows be each stock indntify by their unique permno, 
#for columns, daily price (PRC) for daily in the dataset.
df_pivot = df.pivot(index='PERMNO', columns='date', values='PRC')

# Fill missing values with NaN
df_pivot.fillna(float('nan'), inplace=True)

/Users/fuxiyao/opt/anaconda3/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3444: DtypeWarning: Columns (7) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [2]:
df_pivot

date,2014-01-02,2014-01-03,2014-01-06,2014-01-07,2014-01-08,2014-01-09,2014-01-10,2014-01-13,2014-01-14,2014-01-15,...,2023-12-15,2023-12-18,2023-12-19,2023-12-20,2023-12-21,2023-12-22,2023-12-26,2023-12-27,2023-12-28,2023-12-29
PERMNO,,,,,,,,,,,,,,,,,,,,,
10025,53.04000,54.70,53.37,52.670,51.410,50.440,51.11000,50.74,52.54,51.91,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10026,87.15000,87.23,85.80,86.930,85.820,86.350,86.40000,85.56,85.95,86.73,...,170.25999,168.59000,170.38000,167.03000,166.59,167.74001,168.38000,167.39,168.46001,167.14
10032,42.78000,42.79,42.29,43.240,43.540,43.020,43.27000,41.64,42.09,43.14,...,109.35000,109.41000,111.10000,109.36000,108.28,108.97000,109.47000,108.20,109.55000,108.13
10051,38.31000,38.73,38.92,39.530,39.410,39.320,39.29000,39.31,39.80,40.45,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10104,37.84000,37.62,37.47,37.850,37.720,37.650,38.11000,37.75,38.21,38.41,...,103.32000,105.00000,106.25000,104.15000,105.86,106.20000,106.19000,105.94,106.25000,105.43
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
93427,19.68000,19.55,19.00,18.880,18.710,18.450,18.17000,17.69,18.01,18.10,...,188.53000,192.17000,191.74001,188.25999,191.42,191.97000,196.30000,198.08,196.91000,190.33
93428,26.43000,26.50,27.65,28.840,28.890,26.980,26.65000,26.48,27.21,28.22,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
93429,50.98000,51.66,50.93,50.690,50.020,49.760,49.85000,48.47,49.74,49.83,...,175.03999,174.99001,176.99001,174.10001,176.11,175.53000,173.69000,175.61,177.84000,178.56
93433,3.34000,3.50,3.36,3.572,3.731,4.179,4.11010,3.92,3.97,3.95,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
93436,150.10001,149.56,147.00,149.360,151.280,147.530,145.71989,139.34,161.27,164.13,...,253.50000,252.08000,257.22000,247.14000,254.50,252.53999,256.60999,261.44,253.17999,248.48

In [3]:
output_filename = 'russell3000_price_pivoted.csv'
df_pivot.to_csv(output_filename, index=False)

print(f"DataFrame saved as {output_filename}")

DataFrame saved as russell3000_price_pivoted.csv

In [4]:
threshold = int(0.9999 * len(df_pivot.columns))

# Remove rows (stocks) where more than 0.5% of the values are NaN
df_pivot_filtered = df_pivot.dropna(thresh=threshold)

df_pivot_filtered

date,2014-01-02,2014-01-03,2014-01-06,2014-01-07,2014-01-08,2014-01-09,2014-01-10,2014-01-13,2014-01-14,2014-01-15,...,2023-12-15,2023-12-18,2023-12-19,2023-12-20,2023-12-21,2023-12-22,2023-12-26,2023-12-27,2023-12-28,2023-12-29
PERMNO,,,,,,,,,,,,,,,,,,,,,
10026,87.15000,87.23,85.80,86.93,85.82,86.35,86.40000,85.56,85.95,86.73,...,170.25999,168.59000,170.38000,167.03000,166.59000,167.74001,168.38000,167.39000,168.46001,167.14000
10032,42.78000,42.79,42.29,43.24,43.54,43.02,43.27000,41.64,42.09,43.14,...,109.35000,109.41000,111.10000,109.36000,108.28000,108.97000,109.47000,108.20000,109.55000,108.13000
10104,37.84000,37.62,37.47,37.85,37.72,37.65,38.11000,37.75,38.21,38.41,...,103.32000,105.00000,106.25000,104.15000,105.86000,106.20000,106.19000,105.94000,106.25000,105.43000
10107,37.16000,36.91,36.13,36.41,35.76,35.53,36.04000,34.98,35.78,36.76,...,370.73001,372.64999,373.26001,370.62000,373.54001,374.57999,374.66000,374.07001,375.28000,376.04001
10138,82.56000,83.30,83.17,83.87,83.92,83.29,83.43000,82.35,83.19,83.92,...,106.28000,106.77000,108.22000,105.98000,106.89000,107.89000,108.69000,108.69000,109.01000,107.69000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
93423,36.78000,36.61,36.49,36.89,36.89,37.21,37.34000,36.93,36.98,36.32,...,24.65000,24.20000,24.75000,24.05000,24.12000,24.06000,24.21000,24.21000,24.98000,25.08000
93426,15.29000,15.55,15.67,15.80,15.80,15.19,15.15000,15.32,15.27,15.22,...,31.38000,31.54000,32.26000,32.45000,32.98000,33.22000,33.45000,33.46000,33.62000,34.07000
93427,19.68000,19.55,19.00,18.88,18.71,18.45,18.17000,17.69,18.01,18.10,...,188.53000,192.17000,191.74001,188.25999,191.42000,191.97000,196.30000,198.08000,196.91000,190.33000
93429,50.98000,51.66,50.93,50.69,50.02,49.76,49.85000,48.47,49.74,49.83,...,175.03999,174.99001,176.99001,174.10001,176.11000,175.53000,173.69000,175.61000,177.84000,178.56000
93436,150.10001,149.56,147.00,149.36,151.28,147.53,145.71989,139.34,161.27,164.13,...,253.50000,252.08000,257.22000,247.14000,254.50000,252.53999,256.60999,261.44000,253.17999,248.48000

In [5]:
#Use Time Weighted interpolation to impute missing values 
#method that preserves the overall patterns and relationships in the data,with Non-uniform time 
#while minimizing the impact of missing values on the clustering process.


# Convert the date column to datetime format
df_pivot_filtered.columns = pd.to_datetime(df_pivot_filtered.columns)

# Transpose the DataFrame
df_pivot_filtered_transposed = df_pivot_filtered.transpose()

# Perform time-weighted interpolation
df_pivot_filtered_imputed = df_pivot_filtered_transposed.interpolate(method='time')

# Transpose the DataFrame back to its original orientation
df_pivot_filtered_imputed

PERMNO,10026,10032,10104,10107,10138,10145,10158,10220,10252,10258,...,93372,93373,93374,93397,93419,93423,93426,93427,93429,93436
date,,,,,,,,,,,,,,,,,,,,,
2014-01-02,87.15000,42.78,37.84,37.16000,82.56,90.32000,9.78,34.01,38.42,24.61,...,16.60,18.93,27.82,26.50,21.59,36.78,15.29,19.68,50.98,150.10001
2014-01-03,87.23000,42.79,37.62,36.91000,83.30,90.52000,9.94,34.24,38.44,24.28,...,16.67,19.13,27.55,26.47,22.04,36.61,15.55,19.55,51.66,149.56000
2014-01-06,85.80000,42.29,37.47,36.13000,83.17,90.43000,9.74,34.35,37.97,22.33,...,16.48,18.95,27.46,26.39,22.32,36.49,15.67,19.00,50.93,147.00000
2014-01-07,86.93000,43.24,37.85,36.41000,83.87,90.80000,9.95,34.51,38.21,22.65,...,16.65,18.80,27.55,26.50,22.31,36.89,15.80,18.88,50.69,149.36000
2014-01-08,85.82000,43.54,37.72,35.76000,83.92,90.44000,10.12,34.19,38.08,23.30,...,16.52,18.61,27.49,26.45,22.00,36.89,15.80,18.71,50.02,151.28000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-12-22,167.74001,108.97,106.20,374.57999,107.89,205.64000,31.39,77.05,65.96,39.48,...,30.19,8.39,64.80,20.51,8.77,24.06,33.22,191.97,175.53,252.53999
2023-12-26,168.38000,109.47,106.19,374.66000,108.69,208.03999,32.38,77.01,67.36,40.22,...,30.63,8.30,64.59,20.76,9.03,24.21,33.45,196.30,173.69,256.60999
2023-12-27,167.39000,108.20,105.94,374.07001,108.69,209.02000,32.30,76.64,67.65,40.65,...,30.26,8.24,64.88,21.09,9.02,24.21,33.46,198.08,175.61,261.44000
2023-12-28,168.46001,109.55,106.25,375.28000,109.01,209.17000,32.53,76.59,67.82,40.00,...,30.41,8.36,64.95,20.76,9.47,24.98,33.62,196.91,177.84,253.17999
2023-12-29,167.14000,108.13,105.43,376.04001,107.69,209.71001,31.67,76.73,65.81,39.66,...,29.68,8.37,64.44,20.63,9.31,25.08,34.07,190.33,178.56,248.48000

In [7]:
output_filename = 'russell3000_price_clean.csv'
df_pivot_filtered_imputed.to_csv(output_filename, index=True)

print(f"DataFrame saved as {output_filename}")

DataFrame saved as russell3000_price_clean.csv

In [15]:
import pandas as pd

# Read the CSV file
df = pd.read_csv('/Users/fuxiyao/Desktop/康奈尔Cornell/2024 Spring/messy Data/5741 project/russell3000_price.csv')

# Read the Excel file containing stock information
stock_info = pd.read_csv('/Users/fuxiyao/Desktop/康奈尔Cornell/2024 Spring/messy Data/5741 project/russell3000_universe.csv')  

sectors_to_keep = ['Financials', 'Energy']
filtered_tickers = stock_info[stock_info['Sector'].isin(sectors_to_keep)]['Ticker'].unique()
df_filtered = df[df['TICKER'].isin(filtered_tickers)]

# Pivot the DataFrame to have PERMNOs as rows and dates as columns
df_pivot = df_filtered.pivot(index='PERMNO', columns='date', values='PRC')

# Fill missing values with NaN
df_pivot.fillna(float('nan'), inplace=True)

# Remove rows (stocks) where more than 0.5% of the values are NaN
threshold = int(0.995 * len(df_pivot.columns))
df_pivot_filtered = df_pivot.dropna(thresh=threshold)

# Convert the date column to datetime format
df_pivot_filtered.columns = pd.to_datetime(df_pivot_filtered.columns)

# Transpose the DataFrame
df_pivot_filtered_transposed = df_pivot_filtered.transpose()

In [18]:
df_pivot_filtered_imputed = df_pivot_filtered_transposed.interpolate(method='time')

# Transpose the DataFrame back to its original orientation
df_pivot_filtered_imputed = df_pivot_filtered_imputed

# Save the filtered and imputed DataFrame to a new CSV file
output_filename = 'russell3000_price_financials_energy.csv'
df_pivot_filtered_imputed.to_csv(output_filename, index=True)
print(f"DataFrame saved as {output_filename}")

DataFrame saved as russell3000_price_financials_energy.csv

In [19]:
df_pivot_filtered_imputed

PERMNO,10138,10252,10629,10777,10892,10932,10933,11208,11285,11293,...,92951,92976,92987,92999,93014,93070,93299,93304,93330,93374
date,,,,,,,,,,,,,,,,,,,,,
2014-01-02,82.56,38.42,12.43,221.63000,77.46,30.64,574.75000,17.17,16.52,31.58,...,14.86,23.42,23.08,27.71,16.37,9.46,11.78,27.98,42.40000,27.82
2014-01-03,83.30,38.44,12.45,220.72000,76.63,30.46,577.15997,17.08,16.61,31.17,...,14.87,23.43,22.90,27.94,16.44,9.59,11.75,28.00,42.37000,27.55
2014-01-06,83.17,37.97,12.30,221.10001,76.28,30.27,576.50000,16.40,16.52,30.88,...,15.02,23.99,22.81,28.05,16.60,9.57,11.62,27.72,42.40000,27.46
2014-01-07,83.87,38.21,12.74,222.00000,77.04,30.36,573.50000,16.01,16.53,31.14,...,15.14,23.82,22.79,28.10,16.70,9.58,11.78,28.06,43.13000,27.55
2014-01-08,83.92,38.08,12.85,219.09000,76.54,30.58,571.94000,15.75,16.47,31.07,...,15.21,23.14,22.83,28.18,16.58,9.59,11.81,27.39,42.96000,27.49
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-12-22,107.89,65.96,13.68,1431.23999,46.44,50.66,1386.81995,37.75,37.49,31.18,...,9.40,15.71,10.82,21.87,12.48,14.08,64.57,31.17,205.67000,64.80
2023-12-26,108.69,67.36,13.92,1444.28003,47.08,51.56,1395.04004,38.29,38.15,31.91,...,9.52,15.79,11.05,22.14,12.67,14.24,62.24,31.87,206.08000,64.59
2023-12-27,108.69,67.65,13.95,1431.44995,47.01,51.32,1400.59998,37.93,38.19,32.01,...,9.58,15.81,11.06,22.03,12.63,14.23,61.55,31.53,206.05000,64.88
2023-12-28,109.01,67.82,13.87,1437.68005,46.90,51.58,1411.91003,37.84,37.71,31.91,...,9.08,15.28,11.10,21.32,12.12,14.19,60.81,31.44,206.35001,64.95
2023-12-29,107.69,65.81,13.77,1418.96997,45.93,50.76,1419.90002,37.48,37.01,31.37,...,8.86,14.95,11.15,21.02,11.74,13.93,60.80,30.75,205.75999,64.44